<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CryptoCalci</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css'><link rel="stylesheet" href="/css/ag_hillc.css">
</head>

  
<body>
    <header class="showcase">
        <div class="menu">
            <div class="title">MENU</div>
            <ul class="nav">
              <li><a href="/index.html">Home</a></li>
              <li><a href="/route/main1.html">Algorithms</a></li>
              <li><a href="#">About</a></li>
              <li><a href="/route/main2.html">Services</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="showcase-top">
            <img src="/img/2.png" ,align="Center" />
        <div id="pricing-table" class="clear">
            <div class="plan1">
                <h3 style="color:black">Matrix<span>M</span></h3>	
                <ul>
                    <li>Enter Matrix Value</li>
                    <div id="inSec">
                        <div id="EDMenu">
                        <button id="enhButton0" type="button">Encrypt</button>
                        <button id="dehButton0" type="button">Decrypt</button>
                      </div>
                      
                        <select id="choice">
                            <option value="m22">2 X 2 Matrix</option>
                            <option value="m33">3 X 3 Matrix</option>
                        </select>
                      
                        <form id="m22">
                          <input id="tw0" type="number" name="index" min="0" max="25">
                          <input id="tw1" type="number" name="index" min="0" max="25"> <br />
                          <input id="tw2" type="number" name="index" min="0" max="25">
                          <input id="tw3" type="number" name="index" min="0" max="25">
                        </form>
                      
                      
                        <form id="m33">
                          <input id="tr0" type="number" name="index" min="0" max="25">
                          <input id="tr1" type="number" name="index" min="0" max="25">
                          <input id="tr2" type="number" name="index" min="0" max="25"><br />
                          <input id="tr3" type="number" name="index" min="0" max="25">
                          <input id="tr4" type="number" name="index" min="0" max="25">
                          <input id="tr5"  type="number" name="index" min="0" max="25"><br />
                          <input id="tr6" type="number" name="index" min="0" max="25">
                          <input id="tr7" type="number" name="index" min="0" max="25">
                          <input id="tr8" type="number" name="index" min="0" max="25">
                        </form>
                      
                        <button id="subButtonH" type="button">Submit</button><br>
                      
                      </div>
                </div>
            </div>
            <div id="pricing-table" class="clear">
                <div class="plan">
                    <h3 style="color:black">Encryption<span>E</span></h3>         
                    <ul>
                        <li>Enter Plaintext</li>	
                        <li><input id="textP"name="plainM"></input></li>
                        <li><pre id="encT"></pre></li>
                        <button id="encButton" type="button">Encrypt</button>
                </ul>
                </div>
                    <div class="plan">
                    <h3 style="color:black">Decryption<span>D</span></h3>	
                    <ul>
                        <li>Enter Ciphertext</li>
                        <li><textarea id="textC"name="cipherM"></textarea></li>	
                        <li><pre id="decT"></pre></li>
                        <button id="decButton" type="button">Decrypt</button>
                    </ul>
                    
                </div> 	 	
            </div> 	
        </div>

    </header>
<script src="/js/ag_hillc_scripts/util.js"></script>
<script src="/js/ag_hillc_scripts/storage.js"></script>
<script src="/js/ag_hillc_scripts/encrypt.js"></script>
<script src="/js/ag_hillc_scripts/decrypt.js"></script>
<script src="/js/ag_hillc_scripts/index.js"></script>
</body>
</html>