<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CryptoCalci</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css'><link rel="stylesheet" href="/css/common.css">
  <script src="/js/multiplicative.js"></script>
</head>
  
<body>
    <header class="showcase">
        <div class="menu">
            <div class="title">MENU</div>
            <ul class="nav">
              <li><a href="/index.html">Home</a></li>
              <li><a href="/route/main1.html">Algorithms</a></li>
              <li><a href="#">About</a></li>
              <li><a href="/route/main2.html">Services</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="showcase-top">
            <img src="/img/2.png" ,align="Center" />
        <div id="pricing-table" class="clear">
            <div class="plan">
                <h3 style="color:black">Encryption<span>E</span></h3>         
                <ul>
                    <li>Enter Plaintext</li>	
                    <li><textarea name="input" rows="4" cols="20" id="inputMessage" placeholder="Input"></textarea></li>
                    <li>Enter Key</li>
                    <li><input type="text" id="enteredKey" placeholder=" Enter Key"></li>	
                <button class="polyButton cipherMethod" id="cipherButtonPoly" onclick="cipherButtonFunction()" >Cipher</button>	
            </ul>
            </div>
                <div class="plan">
                <h3 style="color:black">Decryption<span>D</span></h3>	
                <ul>
                    <li>Enter Ciphertext</li>
                    <li><textarea name="result" rows="9" cols="20" id="result" placeholder="Output"></textarea></li>	
                </ul>
                <button class="polyButton decipherMethod" id="decipherButton" onclick="decipherButtonFunction()">Decipher</button>	
            </div> 	 	
        </div>
    </header>
</body>
</html>