<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CryptoCalci</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css'><link rel="stylesheet" href="/css/main1.css">
</head>
		<body>        
			<div class="menu">
			<div class="title">MENU</div>
			<ul class="nav">
			<li><a href="/index.html">Home</a></li>
			<li><a href="/route/main1.html">Algorithms</a></li>
			<li><a href="#">About</a></li>
			<li><a href="/route/main2.html">Services</a></li>
			<li><a href="#">Contact</a></li>
			</ul>
		</div>
    <header>
        <div class="showcase-top">
            <img src="/img/2.png" ,align="Center" />
    </header>
		<section class="tab-content">
			<div class="container">
				<!-- Tab Content 1 -->
				<div id="tab-1-content" class="tab-content-item show">
					<div class="tab-1-content-inner">
						<div class="work">
							<div class="imageContainer">
								<div class="caption center"><a href="/route/ser_mod.html">Mod Calculator</a></div>
							<a href="/route/ser_mod.html">
							<img src="/img/main.png">
							</a>
							</div>
						</div>
						<div class="work">
							<div class="imageContainer">
								<div class="caption center"><a href="/route/ser_modinv.html">Eucledian Inverse</a></div>
							<a href="/route/ser_modinv.html">
							<img src="/img/main.png">
							</a>
							</div>
						</div>
						<div class="work">
							<div class="imageContainer">
								<div class="caption center"><a href="/route/ag_mul.html">Matrix Calculator</a></div>
							<a href="/route/ag_mul.html">
							<img src="/img/main.png">
							</a>
							</div>
						</div>
						
						</div>
				</div>
				</div>

		</footer>
<!-- partial -->
  <script  src="/js/script.js"></script>

</body>
</html>
