<!DOCTYPE html>
  <html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>CryptoCalci</title>
    <link rel="stylesheet" href="/css/aboutus.css">
    
  </head>
  <div class="menu">
    <div class="title">MENU</div>
    <ul class="nav">
      <li><a href="/index.html">Home</a></li>
      <li><a href="/route/main1.html">Algorithms</a></li>
      <li><a href="/route/aboutus.html">About</a></li>
      <li><a href="/route/main2.html">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
 <img src="/img/2.png" style="padding-top: 150px;">
<p style="padding-top: 240px; font-size: 60px; font-weight: bold;"> ~ Coming Soon ~ </p>
</html>
